<html>
<head></head>
<body>
	<p>What is your name?</p>
	<form method="post" id="setup_form" action="/mastermind/game">
		<input type="text" name="name" />
		<label>
			Do you want to guess or set the master code?
		</label>
		<select form="setup_form" name="setter">
			<option value="set">Set</option>
			<option value="guess">Guess</option>
		</select>
		<input type="submit" />
	</form>
</body>
</html>